<ion-menu [content]="content">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title color="primary">TAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="this.auth.getUserInfo() !=null">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <ion-navbar color="primary">
      <ion-title menuClose (click)="logout()">
        Abmelden
      </ion-title>
      <ion-buttons end>
        <button menuClose ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

  </ion-content>

  <ion-content *ngIf="this.auth.getUserInfo() == null">

      <img style="display:block; margin-left: auto; margin-right: auto; padding-top:40px;" src="https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/19/d0/bf/19d0bfa1-cac8-c096-dea2-1064678fe90c/AppIcon-1x_U007emarketing-85-220-0-4.png/246x0w.jpg"/>

      <div style="padding-left:10px"class='impressum'><h1>Impressum</h1><p>Angaben gemäß § 5 TMG</p><p>Marie Hölscher <br>
        Schöppinger Weg 7<br>
        48231 Schöppingen <br>
        </p><p> <strong>Vertreten durch: </strong><br>
        Günther Wallraff<br>
        </p><p><strong>Kontakt:</strong> <br>
        Telefon: 01234-789456<br>
        Fax: 1234-56789<br>
        E-Mail: <a href='mailto:m.hoelscher@lvm.de'>m.hoelscher@lvm.de</a></p><p><strong>Registereintrag: </strong><br>
        Eintragung im Registergericht: Münster<br>
        Registernummer: 12345<br></p><p><strong>Umsatzsteuer-ID: </strong> <br>
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: 187<br><br>
        <strong>Wirtschafts-ID: </strong><br>
        Musterwirtschaftsid<br>
        </p><p><strong>Aufsichtsbehörde:</strong><br>
        Musteraufsicht Musterstadt<br></p><p><strong>Berufsbezeichnung:</strong><br>
        Notar<br>
        Zuständige Kammer: Notarkammer Celle<br>
        Verliehen durch: Bundesrepublik Deutschland<br>
        </p><br>

         </div>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content  [swipeBackEnabled]="false"></ion-nav>
