<!--
  Generated template for the TerminePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Termine</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-select [(ngModel)]="groups" multiple="false">
    <!-- <ion-option *ngFor="let groups of person" [value]="employee">
       <ion-option selected="true">Gruppe 1</ion-option>
       <ion-option>Gruppe 2</ion-option>
   </ion-select>-->


  <ion-card *ngFor="let termin of termine">
    <ion-grid>
      <ion-row>
        <ion-card-title color="primary" align="center">
          <ion-col col-3 style="background-color:#ff8c2e; color:white; font-size:80%;">
            {{termin.anfang.toLocaleDateString("de",{day: "numeric",month: "long"})}}
          </ion-col>
          <ion-col col-5>
            {{termin.titel}}
          </ion-col>
              <ion-icon name="trash" item-start (click)="deleteTermin(termin)"></ion-icon>
        </ion-card-title>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="align-content: center">
            Beginn:
          </ion-col>
          <ion-col style="align-content: center">
            Ende:
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <div style="font-size: 150%;">
              {{termin.anfang.toLocaleTimeString("de",{hour:"numeric",minute:"numeric"})}}
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 150%;">
              <div *ngIf="termin.ende.getDate()!=termin.anfang.getDate()">
                {{termin.ende.toLocaleDateString()}}
              </div>
              {{termin.ende.toLocaleTimeString("de",{hour:"numeric",minute:"numeric"})}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="color:black">
        {{termin.beschreibung}}
      </div>


    </ion-card-content>

    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-2></ion-col>
        <ion-col col-2 align-items-center>
          <button ion-button color="light">
            <ion-icon name="thumbs-up" item-start [color]="getColor(termin,0)"
                      (click)="buttonClicked(0,termin)"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button color="light">
            <ion-icon name="help-circle" item-start [color]="getColor(termin,2)"
                      (click)="buttonClicked(2,termin)"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button color="light">
            <ion-icon name="thumbs-down" [color]="getColor(termin,1)" item-start
                      (click)="buttonClicked(1,termin)"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2></ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-icon name="information-circle" icon-only item-start (click)="presentPopover($event,termin)"></ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card>


</ion-content>
